{% extends '::base.html.twig' %}

{% block body -%}
    <h4>Bonjour {{ user.username | capitalize }} !</h4>
    
	{% if app.request.get('error') is defined and app.request.get('error') %}
		<div class="alert alert-danger">Aucune correspondance trouvée</div>
	{% endif %}

    <form action="{{ path('git_validate') }}" method="post" class="col-lg-4 col-lg-offset-4">
    	<div class="form-group">
    		<label for="gitUser">Saisissez le nom d'un utilisateur Git</label>
    		<input type="text" name="gitUser" id="gitUser" class="form-control" placeholder="Identifiant"/>
    	</div>
    	
    	<button type="submit" class="btn btn-success pull-right">Valider</button>
    </form>
{% endblock %}

{% block javascripts %}
	<script>
		$('#gitUser').keyup(function() {

			var response = $.ajax({
				type: 'GET',
				url: 'https://api.github.com/search/users',
				data: {
					q: $('#gitUser').val()	
				},
				dataType: 'json'
			});

			console.log(response['items']);
		});
	</script>
{% endblock %}